<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.smartmemo">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="a74a781e501d031236f6ee1960b4d00e"/>
        <activity android:name=".View.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:label="SmartMemo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.MapFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.MemoListFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.TodoListFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".View.TodoListActivity"
            android:label="@string/alarm_setings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.AlarmFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.AddGroup"
            android:label="@string/add_group"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.AddMemo"
            android:label="@string/write_memo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.ShowMemo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.MemberData"
            android:label="회원 정보"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.MemberDataChange"
            android:label="회원 정보 수정"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.ModifyGroup"
            android:label="그룹 설정"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>